body {
  font-family: Arial, sans-serif;
  /*width: 940px;
  margin: auto;*/
}

h1, h2 {
  font-family: Arial, sans-serif;
  color: orange;
  text-align: right;
}

a {
  text-decoration: none;
}

.title {
  width: 100%;
}

.worklist {
  display: flex;
  flex-flow: row wrap;
}

.project {
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  font-family: sans-serif;
}
