body {
  font-family: Arial, sans-serif;
}

h1 {
  color: blue;
}

.title {
  width: 100%;
}

.worklist {
  display: flex;
  flex-flow: row wrap;
}

.project {
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: middle;
  font-family: sans-serif;
}
